.container {
  height: calc(100vh - 5rem);
  background: #311629;
  transform: rotate(-0.03deg);
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.subContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
  width: auto;
  height: 60vh;
  background-position-x: 20%;
  background-position-y: 55%;
  transform: rotate(-0.03deg);

  h3 {
    display: flex;
    justify-content: center;
  }
}


.titulo {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  margin: 5rem;

  /* Branco */

  color: #FFFFFF;

  transform: rotate(-0.03deg);
}

.valoresContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;

  transform: rotate(-0.03deg);
}


@media (max-width: 1024px){
  .container {
    height: auto;
    background: #311629;
    transform: rotate(-0.03deg);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
  
  }
  
  .subContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    width: auto;
    height: auto;
    background-position-x: 20%;
    background-position-y: 55%;
    transform: rotate(-0.03deg);
  
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  
  
  .titulo {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin: 5rem;
  
    /* Branco */
  
    color: #FFFFFF;
  
    transform: rotate(-0.03deg);
  }
  
  .valoresContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
  
    transform: rotate(-0.03deg);
  }
  
}


@media (max-width: 912px){
  .container {
    height: auto;
    background: #311629;
    transform: rotate(-0.03deg);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .subContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    width: auto;
    height: 60vh;
    background-position-x: 20%;
    background-position-y: 55%;
    transform: rotate(-0.03deg);
  
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  
  
  .titulo {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin: 5rem;
  
    /* Branco */
  
    color: #FFFFFF;
  
    transform: rotate(-0.03deg);
  }
  
  .valoresContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
  
    transform: rotate(-0.03deg);
  }
  
}


@media (max-width: 820px){
  .container {
    height: auto;
    background: #311629;
    transform: rotate(-0.03deg);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .subContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    width: auto;
    height: 60vh;
    background-position-x: 20%;
    background-position-y: 55%;
    transform: rotate(-0.03deg);
  
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  
  
  .titulo {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin: 5rem;
  
    /* Branco */
  
    color: #FFFFFF;
  
    transform: rotate(-0.03deg);
  }
  
  .valoresContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
  
    transform: rotate(-0.03deg);
  }
  
}

@media (max-width: 540px){
  .container {
    height: 60vh;
    background: #311629;
    transform: rotate(-0.03deg);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .subContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    width: auto;
    height: auto;
    background-position-x: 20%;
    background-position-y: 55%;
    transform: rotate(-0.03deg);
  
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  
  
  .titulo {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin: 2rem;
  
    /* Branco */
  
    color: #FFFFFF;
  
    transform: rotate(-0.03deg);
  }
  
  .valoresContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

   
  
    transform: rotate(-0.03deg);
  }
  
}

@media (max-width: 414px){
  .container {
    height: auto;
    background: #311629;
    transform: rotate(-0.03deg);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  
  }
  
  .subContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    width: auto;
    height: auto;
    background-position-x: 20%;
    background-position-y: 55%;
    transform: rotate(-0.03deg);
  
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  .containerValores{
    display: flex;
  }
  
  
  .titulo {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin: 1rem;
  
    /* Branco */
  
    color: #FFFFFF;
  
    transform: rotate(-0.03deg);
  }
  
  .valoresContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 1px;
  
    transform: rotate(-0.03deg);
  }
  
}


@media (max-width: 375px){
  .container {
    height: auto;
    background: #311629;
    transform: rotate(-0.03deg);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  
  }
  
  .subContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    width: auto;
    height: auto;
    background-position-x: 20%;
    background-position-y: 55%;
    transform: rotate(-0.03deg);
  
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  .containerValores{
    display: flex;
  }
  
  
  .titulo {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: auto;
  
    /* Branco */
  
    color: #FFFFFF;
  
    transform: rotate(-0.03deg);
  }
  
  .valoresContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 1px;
  
    transform: rotate(-0.03deg);
  }
  
}



@media (max-width: 280px){
  .container {
    height: auto;
    background: #311629;
    transform: rotate(-0.03deg);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  
  }
  
  .subContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    width: auto;
    height: auto;
    background-position-x: 20%;
    background-position-y: 55%;
    transform: rotate(-0.03deg);
  
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  .containerValores{
    display: flex;
  }
  
  
  .titulo {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: auto;
  
    /* Branco */
  
    color: #FFFFFF;
  
    transform: rotate(-0.03deg);
  }
  
  .valoresContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 1px;
  
    transform: rotate(-0.03deg);
  }
  
}


