.container {
  height: auto;
  width: auto;
  transform: rotate(-0.03deg);
  display: flex;
  flex-direction: column;

}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  margin: 3rem;
  gap: 109px;

}

.containerSaibaMais {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  gap: 32px;

  width: 757.6px;
  height: auto;

  transform: rotate(-0.03deg);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.containerConteudo {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 757.6px;
  height: auto;

  transform: rotate(-0.03deg);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;


  p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    /* Roxo */

    color: #311629;

    transform: rotate(-0.03deg);

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}

.containerImg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 757.6px;
  height: 236.41px;

  transform: rotate(-0.03deg);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  img {
    width: 757.6px;
    height: 211px;
    background: #D9D9D9;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}

.containerTituloImg {

  display: flex;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  justify-content: center;

  /* Roxo */

  color: #311629;

  transform: rotate(-0.03deg);

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

.containerTitulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  transform: rotate(-0.03deg);

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  h2 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    /* Rosa escuro */

    color: #980138;

    transform: rotate(-0.03deg);

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  span {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    /* Roxo */

    color: #311629;

    transform: rotate(-0.03deg);

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.containerFeed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 44px;

  width: auto;
  height: auto;

  transform: rotate(-0.03deg);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;


  h6 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    /* Roxo */

    color: #311629;

    transform: rotate(-0.03deg);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.subContainerFeed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 340.57px;
  height: auto;

  transform: rotate(-0.03deg);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}