.container {
  height: 100vh;
  background: #FFFFFF;
  transform: rotate(-0.03deg);

  background: url('../../assets/Group49.svg'),
    url('../../assets/Group41.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left, bottom right;

  color: #311629;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;


}

.subContainer {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: rotate(-0.03deg);

  margin: 1rem;

  h3 {
    display: flex;
    justify-content: center;
  }
}


.titulo {

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  margin: 5rem;

  transform: rotate(-0.03deg);
}

.timeContainer {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 44px;

  width: 1240.57px;
  height: 260.67px;
}