.container {
  height: calc(100vh - 4rem);

  background: #980138;
  color: #ffffff;
  display: flex;
}

.subContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 64px;
  gap: 161px;

  h3 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;



  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.cardContainer2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 783px;
  height: 175.5px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}