.container {
  height: auto;
  padding: 10px;
  display: block;
  background-image: url('../../assets/Group30.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

@media screen and (min-width: 768px) {
  .subContainer {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
  }
}

@media(max-width: 950px){
  .container {
    height: auto;
    border: 1px solid transparent;
    display: block;
    background: #FFFFFF;
    background-image: url('../../assets/Group30.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
  }
  
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

@media(max-width: 600px){
  .container {
    height: auto;
    border: 1px solid transparent;
    display: block;
    background: #FFFFFF;
    background-image: url('../../assets/Group30.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
  }
  
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

@media(max-width: 450px){
  .container {
    height: auto;
    border: 1px solid transparent;
    display: block;
    background: #FFFFFF;
    background-image: url('../../assets/Group30.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
  }
  
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

@media(max-width: 375px){
  .container {
    height: auto;
    border: 1px solid transparent;
    display: block;
    background: #FFFFFF;
    background-image: url('../../assets/Group30.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
  }
  
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

@media(max-width: 320px){
  .container {
    height: auto;
    border: 1px solid transparent;
    display: block;
    background: #FFFFFF;
    background-image: url('../../assets/Group30.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
  }
  
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

@media(max-width: 280px){
  .container {
    height: auto;
    border: 1px solid transparent;
    display: block;
    background: #FFFFFF;
    background-image: url('../../assets/Group30.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}