.container {
  background: #F3F2F2;
  height: 130vh;
  display: flex;
  flex-direction: column;
}

.titulo {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 12px;

  h4 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;

    /* Roxo */

    color: #311629;
  }

  p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-align: center;

    /* Roxo */

    color: #311629;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
}

.containerCards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 10px;



  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.cards {
  margin-top: 4rem;
  padding-left: 3rem;
  padding-right: 2rem;
}